
<div class="busca">
  <mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput type="text" [(ngModel)]="termoBusca" (ngModelChange)="filtrarDados()" />
   <button mat-button matSuffix *ngIf="termoBusca" aria-label="Limpar" (click)="termoBusca=''; filtrarDados()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="tabela">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let dado"> {{dado.name}} </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Nick</th>
      <td mat-cell *matCellDef="let dado"> {{dado.username}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>E-mail</th>
      <td mat-cell *matCellDef="let dado"> {{dado.email}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Endereço</th>
      <td mat-cell *matCellDef="let dado"><button mat-raised-button (click)="aoClickEndereco(dado.id, dados)">Ver Endereço</button></td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Telefone</th>
      <td mat-cell *matCellDef="let dado"> {{dado.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="website">
      <th mat-header-cell *matHeaderCellDef>Site</th>
      <td mat-cell *matCellDef="let dado" > {{dado.website}} </td>
    </ng-container>

    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef>Empresa</th>
      <td mat-cell *matCellDef="let dado"><button mat-raised-button (click)="aoClickEmpresa(dado.id, dados)">Ver Empresa</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunas"></tr>
  </table>
</div>